<div class="card {{ modifier_class }}">
  <div class="card__image">
    {{ image }}
  </div>
  <div class="card__title">
    {{ title }}
  </div>
  <div class="card__teaser">
    <p>{{ teaser }}</p>
  </div>
</div>
